.cbxHeader{
    background-color: #264A64;
    color: white;
    padding: 15px;
    padding-top: 10px;
}
.nav{
    color: white;
}
.cbx__search{
    background-image: url(/assets/img/usa-icons-bg/search--white.svg);
}

.footer__upper{
    background-color: #264A64;
    color: white;
}
.footer__upper a{
    color: white;
}

#sign_up{
    padding-right: 10px;
}

.footer_input{
    background: transparent;
    border: solid #E2EFF7;
    border-width: 0.1em;
}

.footer__lower{
    background-color: #172C3C;
}